---
import { siteConfig } from "@/config";
import GithubHeatmap from "./GithubHeatmap.astro";
import PostHeatmap from "./PostHeatmap.astro";

interface Post {
	id: string;
	data: {
		title: string;
		published: Date;
	};
}

interface Props {
	posts: Post[];
}

const { posts } = Astro.props;

const githubConfig = siteConfig.heatmap?.github;
const showGithub = githubConfig?.enabled && githubConfig.username;
---

<div class="archive-heatmap mb-6" id="archive-heatmap">
	<div class="heatmap-container">
		{showGithub && (
			<div class="heatmap-panel">
				<GithubHeatmap username={githubConfig.username!} />
			</div>
		)}
		<div class="heatmap-panel">
			<PostHeatmap posts={posts} />
		</div>
	</div>
</div>
