---
import Icon from "@components/common/Icon.astro";
import { commentConfig } from "@/config";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";

export interface Props {
	isHome?: boolean;
	id?: string;
	path?: string;
}

const { isHome, id, path = "" } = Astro.props;

const type = commentConfig.type;
const enabled = !isHome && id;

const visitorConfigMap: Record<
	string,
	{ enabled: boolean; selectorId: string; dataAttr?: string; dataPath?: string }
> = {
	twikoo: {
		enabled: !!commentConfig.twikoo?.visitorCount,
		selectorId: "twikoo_visitors",
	},
	waline: {
		enabled: !!commentConfig.waline?.visitorCount,
		selectorId: "",
		dataAttr: "waline-pageview-count",
		dataPath: path,
	},
	artalk: {
		enabled: !!commentConfig.artalk?.visitorCount,
		selectorId: "",
		dataAttr: "artalk-pv-count",
		dataPath: path,
	},
};

const config = visitorConfigMap[type];
---

{enabled && config?.enabled && (
  <div class="flex items-center">
    <div class="meta-icon">
      <Icon name="material-symbols:visibility-outline-rounded" class="text-xl" />
    </div>
    <span class="text-50 text-sm font-medium mr-1">
      {i18n(I18nKey.pageViews)}
    </span>
    <span
      class="text-50 text-sm font-medium"
      id={config.selectorId || undefined}
      class:list={[config.dataAttr]}
      data-path={config.dataPath || undefined}
    >
      {i18n(I18nKey.pageViewsLoading)}
    </span>
  </div>
)}
